<%- include("components/header") %>
<div class="container">
  <%- include("components/loginForm") %>
  <%- include("components/signUpForm") %>
</div>
<div class="alertBox">
  <div class="material-symbols-outlined exit">cancel</div>
  <div class="text"></div>
</div>
  <script defer src="log.js"></script>
</body>
</html>